.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.formGroup {
  margin-top: 10px;
}
.box button {
  width: auto;
  margin: 5px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: rgb(41 85 211);
  color: #fff;
}
.movieList {
  text-align: center;
}
.movieList table tr, .movieList table td {
  border: 1px solid #ccc;
}
.movieList table td {
  width: 117px;
}
h5 {
  line-height: normal;
  margin-bottom: 0;
  font-size: large;
}
.contextTitle {
  margin-top: 30px;
}
.tableContainer {
  margin-top: 10px;
}
.tableContainer th {
  background: rgb(41 85 211);
  color: #fff;
  font-weight: normal;
}
.tableContainer th, .tableContainer tr, .tableContainer td {
  border: 1px solid #ccc;
  padding: 2px;
}
.products {
  overflow: hidden;
}
.products .card {
  margin: 5px 0px;
  overflow: hidden;
  border: none !important;
}
.products .card-title {
  width: 150px;
  height: 150px;
}
.products .card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0 !important;
  justify-content: space-between;
  height: 500px;
  overflow-y: scroll;
}
.productset {
  border: 1px solid #ccc;
  padding: 15px;
}
.products .card-text {
  height: 100px;
  overflow-y: scroll;
}
.products .card img {
  width:180px;
  height: 180px;
}
.products .card a {
  margin-top: 10px;
}